/* Set margin on top of the page */
body {
  margin-top: 0%;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 0;
}

.title {
  display: block;
  font-size: 12px;
  color: #F18F34; /* Set the color to orange */
}

/* Carousel container */
.carousel-container {
  width: 100%;
  max-width: 500px; /* Set a max-width for the carousel */
  height: 300px; /* Set a fixed height for the carousel */
  margin: 0 auto; /* Center the carousel */
  margin-top: 50px;
  overflow: hidden; /* Hide any overflowing content */
  position: relative; /* Position the carousel relative to its container */
}

.carousel-slide {
  width: 100%;
  height: 100%;
  display: none; /* Hide all slides initially */
  position: absolute; /* Position each slide absolutely within the container */
  top: 0;
  left: 0;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images cover the entire slide area */
}

.carousel-slide.active {
  display: block; /* Display the active slide */
}

.separator-line1,
.separator-line2 {
  border-top: 4px solid #F18F34; /* Increase the thickness by changing the pixel value */
  width: calc(100% - 50%); /* Adjust the width to accommodate margins */
  margin: 30px auto; /* Set top and bottom margin to 20px, and center horizontally */
}

.separator-line2 {
  margin-left: 25%;
}

.abinit-info {
  margin: 10px 20%;
  color: black;
}

.abinit-info .toolong .more-link,
.abinit-info .toolong .less-link {
  color: #F18F34;
  font-weight: bold;
  text-decoration: none;
}

.toolong {
  font-size: 14px; /* Adjust font size */
}

.toolong span {
  display: block;
  margin-bottom: 10px; /* Adjust spacing between paragraphs */
}

.details {
  display: none; /* Hide details by default */
}

.abinit-info h2 {
  font-size: 16px; /* Example font size */
  color: black; /* Example color */
  font-weight: bold; /* Example font weight */
  margin-bottom: 10px; /* Example bottom margin */
}

.abinit-info h3 {
  font-size: 16px; /* Example font size */
  color: black; /* Example color */
  margin-left: 20px; /* Example bottom margin */
}

.lower_block {
  margin: -20px 18%;
}

.lower_block h4 {
  font-size: 14px; /* Example font size */
  color: black; /* Example color */
  font-weight: bold; /* Example font weight */
  margin-bottom: 10px; /* Example bottom margin */
  margin-left: 35px;
}

.footer_desc {
  font-size: 12px;
  color: #F18F34; /* Set the color to orange */
}

.footer_desc ul li a {
  color: #F18F34; /* Set the color of links inside the footer_desc to orange */
  margin-left: 0px;
}

.carousel-indicators {
  position: absolute;
  top: -10px; /* Adjust the distance from the bottom */
}

.carousel-indicators li {
  width: 8px; /* Set width of indicators */
  height: 8px; /* Set height of indicators */
  margin: 0 3px; /* Adjust margin between indicators */
  border-radius: 50%; /* Make indicators round */
  background-color: black; /* Set default background color */
  border: 1px solid #fff; /* Add border to indicators */
  border: 4px solid #9acfea; /* Add border to indicators with light blue color */
}

.carousel-indicators .active {
  background-color: black; /* Set background color for active indicator */
}

.content-bottom2 {
  margin: 10px 20%;
}

.content-sponsors img {
  height: 30px;
}

.content {
  font-size: 5px; /* Example font size */
  color: gray; /* Example color */
  font-weight: bold; /* Example font weight */
}

.LatestVersion {
  position: absolute;
  top: 30px; /* Adjust the distance from the bottom */
  left: 0px;
}
.blinker {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin-left: 42%;
}

.blink_me {
    opacity: 1;
    animation: fadeInOut 2s linear infinite;
    margin-right: 10px; /* Adjust margin between "New :" and the link */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Ensure links are styled properly */
.container a {
    text-decoration: none; /* Remove default underline */
    color: #F18F34; /* Set link color */
}

/* Ensure icons wrap to a new line only if the screen width is very small */
@media (max-width: 1024px) {
  #topheader {
    flex-wrap: wrap;
    justify-content: center; /* Center items when wrapping */
  }

  .header div {
    flex: 1 1 150px; /* Ensure divs take up minimum space but can grow */
  }
}

/* For smaller devices */
@media (max-width: 768px) {
  .separator-line1, .separator-line2 {
    width: 90%; /* Adjust the width for smaller screens */
    margin-left: auto;
    margin-right: auto;
  }

  .lower_block, .abinit-info, .content-bottom2 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .abinit-info h3 {
    margin-left: 0;
  }

  .lower_block h4 {
    margin-left: 0;
  }

  .LatestVersion {
    left: 20px;
  }
}

/* For very small devices */
@media (max-width: 480px) {
  #topheader {
    flex-direction: column;
  }

  .carousel-container {
    height: 200px; /* Adjust height for smaller screens */
  }

  .carousel-indicators {
    top: 0; /* Adjust position for smaller screens */
  }

  .shortcut-img {
    width: 40px;
  }

  .title {
    font-size: 10px;
  }
}


.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-row {
    display: flex;
    justify-content: center; /* Center the row */
    margin-bottom: 10px; /* Space between rows */
}

.icon {
    margin: 5px 5px; /* Spacing around each icon */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*min-height: 150px; /* Set a fixed height for consistency */
}

.icon img {
    max-width: 100px; /* Set a maximum width for icons */
    height: auto;
}

.title {
    display: block;
    font-size: 12px;
    color: #F18F34; /* Set the color to orange */
    margin-top: 5px;
}
